* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0px;
}

:root {
  --red: #D01418;
  --white: #F3F3F3;
  --white-primary: #FFFFFF;
  --black: #000000;
  --black-dark: #222222;
  --green: #619D00;
  --gray: #C4C4C4;
}

header {
  background-color: var(--black-dark);
  padding: 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo strong {
  color: var(--white);
  font-size: 30px;
  font-weight: 700;
}

.logo span {
  color: var(--red);
  font-size: 30px;
}

#nav_first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav_desktop {
  display: none;
}

#nav_mobile {
  display: block;
}

main {
  background-color: var(--white);
  padding-bottom: 60px;
}

#banner {
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#banner h1,
#banner span {
  font-size: 40px;
  font-family: Roboto;
  font-weight: 700;
}

#banner h1 {
  text-align: center;
  color: var(--white);
}

#banner span {
  color: var(--red);
}

#banner button {
  width: 220px;
  height: 61px;
  border-radius: 5px;
  background-color: var(--red);
  border: none;
  color: var(--white);
  font-size: 25px;
  font-weight: 500;
}



#tops-products h2 {
  color: var(--black);
  font-size: 30px;
  font-weight: bolder;
  padding: 20px;
  text-align: center;
}

#container-tops-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#tops-products article {
  background-color: var(--white-primary);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
}

.container-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.container-info {
  padding: 10px 20px;
}

.container-info h4 {
  font-size: 20px;
  font-weight: bolder;
}

.container-info p {
  font-size: 13px;
}

.container-info span {
  color: var(--green);
  font-size: 10px;
}

#stars-products h3 {
  padding: 60px 0px 20px;
  color: var(--black);
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

#content-stars-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#stars-products article {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#stars-products img {
  position: relative;
  border-radius: 5px;
}

#stars-products span {
  position: absolute;
  margin-right: 20px;
  color: var(--white-primary);
}

footer {
  background-color: var(--black-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer nav {
  padding: 20px 0;
}

#socials p {
  text-align: center;
  color: var(--white-primary);
  padding: 20px;
  font-size: 25px;
}

#socials ul {
  display: flex;
  justify-content: space-between;
}

#text-footer {
  background-color: var(--gray);
  width: 100%;
  text-align: center;
  font-size: 13px;
  padding: 5px 0;
}

@media (min-width: 412px) {
  #nav_mobile {
    display: none;
  }

  #nav_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  #nav_desktop ul {
    display: flex;
    gap: 10px;
    flex-direction: row;
  }

  #nav_desktop a {
    color: var(--white-primary);
  }

  #nav_desktop button {
    background-color: var(--black-dark);
    border: none;
    cursor: pointer;
  }

  #banner {
    background-position: center;
  }

  #container-tops-products {
    flex-direction: row;
    gap: 30px;
    justify-content: center;
  }

  #content-stars-products {
    flex-direction: row;
    gap: 10%;
    justify-content: center;
  }

  footer nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
  }

  #socials p {
    padding: 20px 0;
  }
}